/.idea/*
/__pycache__/*
/config/trex_config.json
/config/generali.json
/config/order.json
/config/chain.json
/config/dhcpsrv.ini
/config/settings.json
/src/__pycache__/*
/src/dhcpsrv.exe
/src/trex.exe
/src/dist/*
/src/build/*
/src/my_account.session
/res/GpuProfit/output.txt
/bot.spec
.DS_Store
/log/*