/.idea/*
/__pycache__/*
/config/trex_config.json
/config/dhcpsrv.ini
/config/settings.json
/src/__pycache__/*
/src/dhcpsrv.exe
/src/trex.exe
/src/dist/*
/src/build/*
/my_account.session
/bot.spec
.DS_Store
/log/bot.log