<settings>
	<telegram_token>token rilasciato da BotFather</telegram_token>
	<phone_number>numero di cellulare per pyrogram</phone_number>
	<bot_username>username univoco del bot</bot_username>
	<ap_ip>ip per l'access point</ap_ip>
	<ap_interface_name>nome dell'interfaccia di rete per AP</ap_interface_name>
	<dhcp_path>path exe dhcp</dhcp_path>
	<!-- Se email viene lasciata vuota non viene effettuata l'integrazione con meross -->
	<meross_credential>
		<email>email per meross</email>
		<password>password per meross</password>
		<device_name>nome del device su applicazione meross</device_name>
	</meross_credential>
	<telegram_app>
		<api_id>rilascio da telegram per API al link https://my.telegram.org/apps</api_id>
		<api_hash>rilascio da telegram per API al link https://my.telegram.org/apps</api_hash>
	</telegram_app>
	<msi_afterburner_config>nome file cfg per msi afterburner</msi_afterburner_config>
	<msi_afterburner_path>path msi afterburner</msi_afterburner_path>
	<min_gpu_fan_speed>velocita minima gpu</min_gpu_fan_speed>
	<trex_ip>ip per interrogare trex</trex_ip>
	<trex_profiles>
		<profile>
			<name>nome del profilo</name>
			<crypto>crypto generata (es. ETH, RVN)</crypto>
			<algo>algoritmo per il mining</algo>
			<intensity>intensità di trex</intensity>
			<pool_url>url della pool</pool_url>
			<wallet>wallet id</wallet>
			<api_domain>end point per le API del sito della pool</api_domain>
			<divisor>divisore per hashrate</divisor>
		</profile>
	</trex_profiles>
	<!-- Se valore s la funzione è attiva -->
	<function>
		<vpn>s oppure n</vpn>
		<ap>s oppure n</ap>
		<mining>s oppure n</mining>
	</function>
</settings>